# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore


node_modules/
dist/
packaged/
wpcs/
vendor/
coverage/
target/
document/
.idea/
tests/wp-tests-config.php

TEST*.xml
.DS_Store
Thumbs.db
*.cache
*.class
*.py[cod]
*.log
*.jar
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

