.cross-sell-wrapper{
	margin-bottom: 20px;
	h4{
		text-transform: none;
	}
	a{
		display: block;
    padding: 2px;
		img{
			height: auto;
			max-width: 100%;
			width: auto;
			position: initial;
		}
	}

}

