.CTA-sidebar {
  background: #002856;
  padding: 10px;
  color: #fff;
  font-size: 1.3em;
  text-shadow: none;
  h3 {
    color: #FFF;
    font-weight: bold;
  }
  span.highlight1 {
    font-weight: bold;
    color: #dbff00;
    text-transform: capitalize;
    font-size: 1.1em;
  }
  span.highlight2 {
    font-weight: bold;
    color: #fb6435;
  }
  b.higlight-action {
    font-size: 1.2em;
  }
}
