
@media only screen and (max-width: 768px ) {
  body.inspire-up {
    #content-wrap{
      padding: 10px;;
    }

    ul.product-category li {
      width: 48%;
    }

    ul.product-category li span.product-title {
      display: block;
      padding: 20px 0px;
      font-weight: bold;
    }
		.custom-header-container{ font-size: 12px; }
		.custom-header{ width: 100%; }
  }
}


@media only screen and (max-width: 768px ) {
  body.inspire-up {

		.cart-details {

			flex-direction: column;
				.cart-collaterals, form {
					width: 100%;
				}
			}

			.step div {
				display: none;
			}
			ul#category-tabs-shop {
				margin: 0px;
				li {
					width: 45%;
					a  {
						.category-details{
							font-size: .9em;
						}
					}
				}
			}
			div.product {
				flex-direction: column;
				.side {
					width: 100%;
				}
				.main.summary.entry-summary {
					width: 100%;
				}
			}



			.cart-collaterals .cart_totals{
				float: none;
				width: 100%;
			}
		div.product .summary  form.cart{
			position: static;
			bottom: 0px;
			margin: 0px;
			position: sticky;
			z-index: 9999;
			top: 0px;
			left: 0px;
			z-index: 999;
			width: auto;
			height: auto;
			background-color: #fff;
			padding: 10px 0px 5px 0px;
			display: flex;
			flex-flow: revert;
			justify-content: center;
			.button{
				height: 35px;
			}
		}
		div.product .product_title {
			font-size: 1.3em;
			margin-bottom: 10px;
			font-weight: bold;
		}
		.custom-header-container{
			display: none;
		}
		div.page-shop{
				padding-top: 0px;
		}
		#header{
			display: none;
		}
		#header-mobile{
			display: flex;
		}

		.images.product-thumb{
			display: grid;
			grid-template-columns: 50% 50%;
			.woocommerce-main-image {
				grid-column-start: 1;
				grid-row-start: 1;
				grid-row-end: 5;
				padding: 6px;
			}
			div.two-column-layout{
				grid-column-start: 2;
				grid-row-start: 2;
				grid-row-end: 2;
				.column{
					width: 100%;
					p {
							margin: 0.4em 0
					}
					form.cart{
						text-align: center;
						margin: 0px auto;
						width: 150px;
						.quantity {
							width: 60px;
							float: none;
							input.text{
								margin: 0px;
								padding: 3px 0px;
							}
						}
						.button{
							vertical-align: middle;
							float: none;
							width: auto;
							font-size: 12px;
						}
					}
				}
			}
			div.CTA-sidebar{
				grid-column-start: 2;
				grid-row-start: 1;
				grid-row-end: 1;
				font-size: .9em;
				background-color: #37a6ddba;
				h3{
					text-align: center;
					font-size: 10px;
				}
			}
		}

    h2.choose-cat-title {
        padding: 10px;
        line-height: 1.2em;
    }
    #category-tabs-shop {

      &.clearfix:after, &.clearfix:before{
        display: none;
      }

      li {
        width: 38%;
        background-color: #f9f9f9;
        margin: 0px;
        display: block;
        min-height: 70px;
        margin-bottom: 10px;
        a {
            font-size: 1.5em;
            text-decoration: none;
            span{
              font-size: .8em;
            }
        }
      }
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      justify-content: space-evenly;
    }

    .post {
      line-height: 1.4em;

    }

    form.checkout h1.course-title {
      margin: 20px 0px;
      text-align: center;
      color: #fc6b3e;
    }
    .course-cat{
      display: none;
    }
    .custom-header > div:first-child a {
        display: none;
    }
    .custom-header-container {
      padding: 0px;
      margin-left: 0px;
    }
    .modal-dialog{
      max-width: 720px;
      margin: auto;
      ul#product-courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
       li {

        width: 47%;
          img{
            margin-bottom: 10px;
          }
        }

				.summary-wrapper {

						flex-flow: column;
						.summary.entry-summary{
							width: 100%;
						}
				}
      }

      h2 {
        color: #002755;
        font-size: 1.6em;
      }
    }

    #step2 {
      #billing_first_name_field,
      #billing_middle_name_field,
      #billing_last_name_field,
      #billing_work_phone_field,
      #billing_mobile_phone_field,
      #billing_work_mobile_field{
        width: 100% !important;
      }
    }
    .checkbox p,form p  { width: 100% !important; }
    div#foot-contact {
      > div, > a {
        display: block;
        width: 100%;
      }
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 98%;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
    #foot-nav {

      flex-wrap: wrap;
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
				align-items: flex-start;
				justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
        li{
					width: auto;
					padding-right: 5px;
        }
      }
    }
    footer.footer.container{
      padding: 10px;
    }
    .mobile-sticky {
      padding-top: 10px;
      margin: 0px;
      position: sticky;
      z-index: 9999;
      top: 0px;
      left: 0px;
      z-index: 999;
      width: 100%;
      height: 84px;
      /* border: 1px solid #f7f6f7; */
      box-shadow: rgb(0 0 0 / 8%) 1px 3px 4px 1px;
      background-color: white;
      .user-links{
        font-size: 1.3em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 10px;
        a {
          display: block;
          padding: 5px 10px;
          background-color: #00bce8;
          color: #fff;
          text-decoration: none;
          &:hover{
            background-color: #f26122;
            border: 0;
            transition: background-color .3s ease,color .3s ease,-webkit-transform .3s ease;
            transition: background-color .3s ease,transform .3s ease,color .3s ease;
            transition: background-color .3s ease,transform .3s ease,color .3s ease,-webkit-transform .3s ease;
          }
        }
      }
      #checkout-steps {
        margin: 0px;

        .step{
          a {
            &.selected{
              color: #fc6b3e;
              span{
                color: #fc6b3e;
              }
            }
            top: 0px;
            background-color: #fff;
            width: 100%;
            height: 42px;
            padding: 5px 0px 5px 0px;
            text-align: center;
            span {
              padding: 0px;
              font-size: 11px;
              margin: 0px;
            }

          }
        }
      }
    }

		#footer-wrap .container {
			flex-direction: column;
			padding: 40px 20px;
		}

  }



}




@media only screen and (max-width: 450px ) {
  body.inspire-up {
    .custom-header-container {
      padding: 0px;
      margin-left: 0px;
    }

		.custom-header-container{
				font-size: 12px;
				height: 30px;
		}

		.custom-header a span:nth-child(2){ display: none; }
		.custom-header a span:nth-child(1){ animation: wiggle 5s infinite; }
		.custom-header div{ margin-right: 5px; }

		#login-area{ top: .65rem; }
		#login-area a{ color: white; text-shadow: none;}

		.modal-dialog ul#product-courses li {
			width: 100%;
		}

		 ul#category-tabs-shop li {
				width: 100%;
		}
  }

}
