
div.clear {display: none;}
.checkbox p,form p  { float: none; width: 100%;}
#billing_state_field, #shipping_state_field, #ccf_add_two_state_field{margin: initial;}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {float: none;}
.woocommerce ul.products li.product a img {width: auto !important;max-width:41%!important;}
.woocommerce form .form-row .input-checkbox, .woocommerce-page form .form-row .input-checkbox {margin-right: 2px;height: 18px;width: 18px;}
.table_cols { position: relative!important;  z-index: 9999999!important; }
p.telephone { display: none; }

