.woocommerce .products ul::after,
.woocommerce .products ul::before,
.woocommerce ul.products::after,
.woocommerce ul.products::before {
  display: none;
  content: "";
}
.woocommerce .woocommerce-ordering select {
  vertical-align: top;
  width: 100%;
  margin-right: 0px;
  border-radius: 0px;
  padding: 10px 10px;
  max-width: 200px;
}

body.inspire-up {
  /* Custom header container */
}
body.inspire-up div.clear {
  display: none;
}
body.inspire-up .checkbox p, body.inspire-up form p {
  float: none;
  width: 100%;
}
body.inspire-up #billing_state_field, body.inspire-up #shipping_state_field, body.inspire-up #ccf_add_two_state_field {
  margin: initial;
}
body.inspire-up .woocommerce form .form-row-first, body.inspire-up .woocommerce form .form-row-last, body.inspire-up .woocommerce-page form .form-row-first, body.inspire-up .woocommerce-page form .form-row-last {
  float: none;
}
body.inspire-up .woocommerce ul.products li.product a img {
  width: auto !important;
  max-width: 41% !important;
}
body.inspire-up .woocommerce form .form-row .input-checkbox, body.inspire-up .woocommerce-page form .form-row .input-checkbox {
  margin-right: 2px;
  height: 18px;
  width: 18px;
}
body.inspire-up .table_cols {
  position: relative !important;
  z-index: 9999999 !important;
}
body.inspire-up p.telephone {
  display: none;
}
body.inspire-up h2.course-cat {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 20px;
  border-bottom: 1px solid #b0b7b9;
}
body.inspire-up h2.course-cat span {
  font-size: 13px;
}
body.inspire-up .custom-header-container {
  font-size: 14px;
  background: #002755;
  text-shadow: none;
  z-index: 10;
}
body.inspire-up .custom-header-container .custom-header {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
body.inspire-up .custom-header-container .custom-header > div {
  margin-right: 15px;
}
body.inspire-up .custom-header-container .custom-header > div a {
  color: white;
  text-decoration: none;
}
body.inspire-up .custom-header-container .custom-header > div a span:first-child {
  margin-right: 5px;
}
body.inspire-up .custom-header-container .custom-header #login-area a {
  display: block;
  background-color: #fc6b3e;
  padding: 4px 10px;
  margin-bottom: 10px;
}
body.inspire-up .custom-header-container .custom-header div#contact-links {
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
body.inspire-up #header {
  background: #fff;
  border-bottom: 0.0625rem solid #e5e5e5;
  color: #fff;
}
body.inspire-up #header #head-inner {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  justify-content: space-between;
}
body.inspire-up #header #head-inner #main-nav {
  display: flex;
  align-items: center;
  position: relative;
}
body.inspire-up #header #head-inner #nav {
  position: relative;
  list-style: none;
  font-size: 1.1em;
  z-index: 20;
  display: flex;
}
body.inspire-up #header #head-inner #nav li {
  margin: 0 3px;
  padding: 0;
  position: relative;
}
body.inspire-up #header #head-inner #nav li a {
  padding: 0px 5px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.1em;
  color: #022857;
  text-shadow: none;
}
body.inspire-up #header #head-inner #nav li a:hover {
  color: #00bce8;
}
body.inspire-up #header #head-inner #nav li ul li {
  width: 100%;
}
body.inspire-up #header #head-inner #nav li .current_page_item a {
  padding: 5px 10px 15px;
}
body.inspire-up #header #brand {
  background: url(https://shop.inspireeducation.net.au/wp-content/uploads/Inspire_Education_Logo_208x81-e1579831385106.png) no-repeat;
  background-position: center;
  background-size: cover;
  text-indent: -9999px;
  width: 184px;
  height: 64px;
}
body.inspire-up .modal-dialog {
  max-width: 720px;
  margin: auto;
}
body.inspire-up .modal-dialog #product-courses {
  display: flex;
  flex-wrap: wrap;
}
body.inspire-up .modal-dialog li {
  margin-bottom: 30px;
  width: 100%;
}
body.inspire-up .modal-dialog h2 {
  text-transform: capitalize;
  color: #002755;
  font-size: 1.7em;
  letter-spacing: -0.5px;
  line-height: 1;
  margin-bottom: 0.5em;
  font-weight: 200;
  padding: 8px 0px;
}
body.inspire-up .modal-content {
  padding: 25px 20px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
}
body.inspire-up .modal-content #product-courses li .summary-wrapper {
  display: flex;
  justify-content: space-between;
}
body.inspire-up .modal-content #product-courses li .summary-wrapper .summary.entry-summary {
  width: 68%;
}
body.inspire-up .modal .close {
  position: sticky;
  cursor: pointer;
  height: 32px;
  width: 50px;
  display: block;
  color: #fff;
  z-index: 999;
  float: right;
  background-image: none;
  font-size: 2.2em;
  text-align: left;
  background-color: #f26122;
  padding: 5px;
  margin-right: -20px;
  text-shadow: none;
  top: 0px;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.4117647059) 0px 2px 5px 0px;
}
body.inspire-up .modal .close:hover {
  background-color: #1a97db;
  border: 0;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
body.inspire-up form.checkout h1.course-title {
  margin: 20px 0px;
}
body.inspire-up form.checkout .select2-container {
  width: 100% !important;
}
body.inspire-up form.checkout .select2-container--default .select2-selection--single {
  border-radius: 0px;
}
body.inspire-up form.checkout .select2-container .select2-selection--single,
body.inspire-up form.checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 44px;
}
body.inspire-up form.checkout .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 44px;
}
body.inspire-up form.checkout .select {
  width: 100%;
  float: none;
  margin: 0px;
}
body.inspire-up form.checkout #step2 #billing_first_name_field,
body.inspire-up form.checkout #step2 #billing_middle_name_field,
body.inspire-up form.checkout #step2 #billing_last_name_field {
  width: 32%;
}
body.inspire-up form.checkout #step2 #billing_work_phone_field,
body.inspire-up form.checkout #step2 #billing_mobile_phone_field,
body.inspire-up form.checkout #step2 #billing_home_phone_field,
body.inspire-up form.checkout #step2 #billing_work_mobile_field {
  width: 24%;
}
body.inspire-up form.checkout #step2 .shipping-address-group, body.inspire-up form.checkout #step2 .secondary-address-group, body.inspire-up form.checkout #step2 .usi_num {
  padding: 10px;
  background-color: #f4f4f4;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
body.inspire-up form.checkout #step2 .shipping-address-group h3, body.inspire-up form.checkout #step2 .secondary-address-group h3, body.inspire-up form.checkout #step2 .usi_num h3 {
  padding: 10px 0px 10px 0px;
  margin: 0px;
  width: 100%;
}
body.inspire-up form.checkout #step2 .extra-details-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
body.inspire-up form.checkout #step2 .extra-details-group > p, body.inspire-up form.checkout #step2 .extra-details-group > div {
  width: 48%;
  padding: 0px;
  margin: 0px;
}
body.inspire-up form.checkout #step2 .extra-details-group .residency_field_wrapper,
body.inspire-up form.checkout #step2 .extra-details-group .visa_disclaimer_field_wrapper {
  width: 100%;
}
body.inspire-up form.checkout #step2 .extra-details-group .visa_disclaimer_field_wrapper {
  padding: 10px;
  background-color: #f4f4f4;
}
body.inspire-up form.checkout #step2 .extra-details-group #ccf_country_birth_field {
  width: 64%;
}
body.inspire-up form.checkout #step2 .extra-details-group #ccf_date_birth_field {
  width: 32%;
}
body.inspire-up form.checkout #step2 .extra-details-group .gender_field_wrapper {
  width: 64%;
}
body.inspire-up form.checkout #step2 .extra-details-group .ethnicity_group_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
body.inspire-up form.checkout #step2 .extra-details-group .ethnicity_group_wrapper .ethnicity_field_wrapper {
  width: 100%;
}
body.inspire-up form.checkout #step2 div#english-level {
  padding: 10px;
  background-color: #f4f4f4;
}
body.inspire-up form.checkout #step2 .checkout-form-personal-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
body.inspire-up form.checkout #step2 .company-invoice-toggle, body.inspire-up form.checkout #step2 .home-address-toggle {
  width: 100%;
}
body.inspire-up form.checkout #step2 h5 {
  display: block;
  clear: both;
  text-transform: none !important;
  width: 100%;
  font-size: 1.2em;
  font-weight: normal;
  margin: 10px 0px;
}
body.inspire-up form.checkout #step4 div.checkbox p:empty {
  display: none;
}
body.inspire-up form.checkout #step4 div.checkbox h3 {
  padding: 0px;
  margin: 20px 0px 20px 0px;
}
body.inspire-up form.checkout .next, body.inspire-up form.checkout .previous {
  background-color: #002755;
  display: inline-block;
  padding: 16px 16px;
  text-decoration: none;
  text-shadow: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  background-image: none;
  text-shadow: none;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
body.inspire-up form.checkout .next:hover, body.inspire-up form.checkout .previous:hover {
  background-color: #1a97db;
  border: 0;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
body.inspire-up .CTA-sidebar {
  background: #002856;
  padding: 10px;
  color: #fff;
  font-size: 1.3em;
  text-shadow: none;
}
body.inspire-up .CTA-sidebar h3 {
  color: #FFF;
  font-weight: bold;
}
body.inspire-up .CTA-sidebar span.highlight1 {
  font-weight: bold;
  color: #dbff00;
  text-transform: capitalize;
  font-size: 1.1em;
}
body.inspire-up .CTA-sidebar span.highlight2 {
  font-weight: bold;
  color: #fb6435;
}
body.inspire-up .CTA-sidebar b.higlight-action {
  font-size: 1.2em;
}
body.inspire-up .mobile-sticky .user-links {
  display: none;
}
body.inspire-up ul.product-category {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
}
body.inspire-up ul.product-category li {
  list-style: none;
  padding: 10px;
  margin: 0px;
  width: 22%;
  display: block;
  margin-bottom: 30px;
  position: relative;
}
body.inspire-up ul.product-category li span.product-title {
  display: block;
  padding: 20px 0px;
}
body.inspire-up .upsell.container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
body.inspire-up .upsell.container .upsell.products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
body.inspire-up .upsell.container .upsell.products li.product {
  margin: auto;
  width: 30%;
  margin: 0px 5px;
}
body.inspire-up .upsell.container .upsell.products li.product .add_to_cart_button {
  display: none;
}
body.inspire-up .upsell.container .upsell.products li.product .price {
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  background: #54bae8;
  padding: 2px 0px;
}
body.inspire-up .cross-sell-wrapper {
  margin-bottom: 20px;
}
body.inspire-up .cross-sell-wrapper h4 {
  text-transform: none;
}
body.inspire-up .cross-sell-wrapper a {
  display: block;
  padding: 2px;
}
body.inspire-up .cross-sell-wrapper a img {
  height: auto;
  max-width: 100%;
  width: auto;
  position: initial;
}
body.inspire-up .product_meta {
  background-color: #3dbbe8;
  padding: 2px;
  color: #fff;
}
body.inspire-up .product_meta span {
  margin-right: 4px;
}
body.inspire-up .product_meta a, body.inspire-up .product_meta a:visited {
  color: #092655;
}
@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
body.inspire-up .splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.inspire-up .splide__track--fade > .splide__list {
  display: block;
}
body.inspire-up .splide__track--fade > .splide__list > .splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
body.inspire-up .splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1;
}
body.inspire-up .splide--rtl {
  direction: rtl;
}
body.inspire-up .splide__track--ttb > .splide__list {
  display: block;
}
body.inspire-up .splide__container {
  box-sizing: border-box;
  position: relative;
}
body.inspire-up .splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
body.inspire-up .splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
body.inspire-up .splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}
body.inspire-up .splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}
body.inspire-up .splide__progress__bar {
  width: 0;
}
body.inspire-up .splide {
  position: relative;
  visibility: hidden;
}
body.inspire-up .splide.is-initialized, body.inspire-up .splide.is-rendered {
  visibility: visible;
}
body.inspire-up .splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}
body.inspire-up .splide__slide img {
  vertical-align: bottom;
}
body.inspire-up .splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
body.inspire-up .splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body.inspire-up .splide__toggle.is-active .splide__toggle__play, body.inspire-up .splide__toggle__pause {
  display: none;
}
body.inspire-up .splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}
body.inspire-up .splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
body.inspire-up .splide__container {
  box-sizing: border-box;
  position: relative;
}
body.inspire-up .splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
body.inspire-up .splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
body.inspire-up .splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}
body.inspire-up .splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}
body.inspire-up .splide__progress__bar {
  width: 0;
}
body.inspire-up .splide {
  position: relative;
  visibility: hidden;
}
body.inspire-up .splide.is-initialized, body.inspire-up .splide.is-rendered {
  visibility: visible;
}
body.inspire-up .splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}
body.inspire-up .splide__slide img {
  vertical-align: bottom;
}
body.inspire-up .splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
body.inspire-up .splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body.inspire-up .splide__toggle.is-active .splide__toggle__play, body.inspire-up .splide__toggle__pause {
  display: none;
}
body.inspire-up .splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}
body.inspire-up .splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
body.inspire-up .splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.inspire-up .splide__track--fade > .splide__list {
  display: block;
}
body.inspire-up .splide__track--fade > .splide__list > .splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
body.inspire-up .splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1;
}
body.inspire-up .splide--rtl {
  direction: rtl;
}
body.inspire-up .splide__track--ttb > .splide__list {
  display: block;
}
body.inspire-up .splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}
body.inspire-up .splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}
body.inspire-up .splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}
body.inspire-up .splide__arrow:disabled {
  opacity: 0.3;
}
body.inspire-up .splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
body.inspire-up .splide__arrow--prev {
  left: 1em;
}
body.inspire-up .splide__arrow--prev svg {
  transform: scaleX(-1);
}
body.inspire-up .splide__arrow--next {
  right: 1em;
}
body.inspire-up .splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
body.inspire-up .splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}
body.inspire-up .splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}
body.inspire-up .splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  z-index: 1;
}
body.inspire-up .splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}
body.inspire-up .splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
body.inspire-up .splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
body.inspire-up .splide__progress__bar {
  background: #ccc;
  height: 3px;
}
body.inspire-up .splide__slide {
  -webkit-tap-highlight-color: transparent;
}
body.inspire-up .splide__slide:focus {
  outline: 0;
}
@supports (outline-offset: -3px) {
  body.inspire-up .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  body.inspire-up .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}
@supports (outline-offset: -3px) {
  body.inspire-up .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  body.inspire-up .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }
  body.inspire-up .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}
body.inspire-up .splide__toggle {
  cursor: pointer;
}
body.inspire-up .splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
body.inspire-up .splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
body.inspire-up .splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}
body.inspire-up .splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}
body.inspire-up .splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}
body.inspire-up .splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}
body.inspire-up .splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}
body.inspire-up .splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}
body.inspire-up .splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}
body.inspire-up .splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}
body.inspire-up .splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg);
}
body.inspire-up .splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}
body.inspire-up .splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg);
}
body.inspire-up .splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}
body.inspire-up div.product {
  display: flex;
  justify-content: space-between;
}
body.inspire-up div.product .side {
  width: 25%;
  position: relative;
}
body.inspire-up div.product .main.summary.entry-summary {
  width: 72%;
}
body.inspire-up #add_payment_method table.cart img, body.inspire-up table.cart img, body.inspire-up .woocommerce-checkout table.cart img {
  width: auto;
  box-shadow: none;
  max-width: 120px;
  height: auto;
}
body.inspire-up .cart-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
body.inspire-up .cart-details form {
  width: 65%;
}
body.inspire-up .cart-details form .coupon {
  padding: 5px;
  width: 70%;
  display: inline-block;
}
body.inspire-up .cart-details form .coupon .input-text {
  display: inline-block;
  width: auto;
}
body.inspire-up .cart-details form input[name=update_cart] {
  align-items: baseline;
  display: inline;
  margin-bottom: 0px;
  margin-left: auto;
}
body.inspire-up .cart-details .cart-collaterals {
  width: 30%;
}
body.inspire-up .cart-details .cart-collaterals .wc-proceed-to-checkout a.checkout-button {
  margin-bottom: 10px;
}
body.inspire-up .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
body.inspire-up h2 {
  text-transform: capitalize;
  color: #46809d;
}
body.inspire-up .step div {
  width: 56px;
  height: 56px;
  background: url(../images/icons-process.png) 0 0 no-repeat;
  overflow: hidden;
  display: block;
  position: absolute;
  top: -28px;
  right: -3px;
  z-index: 10;
}
body.inspire-up .step a {
  position: absolute;
  right: 0;
  z-index: 15;
  top: -23px;
  padding: 0 60px 0 0;
  overflow: visible;
  text-align: right;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
}
body.inspire-up .step-2 div {
  background-position: -56px -56px;
}
body.inspire-up .step-2.active div, body.inspire-up .step-2.done div {
  background-position: -56px 0;
}
body.inspire-up .step-3 div {
  background-position: -112px -56px;
}
body.inspire-up .step-3.active div, body.inspire-up .step-3.done div {
  background-position: -112px 0;
}
body.inspire-up .step-4 div {
  background-position: -168px -56px;
}
body.inspire-up .step-4.active div, body.inspire-up .step-4.done div {
  background-position: -168px 0;
}
body.inspire-up .step-5 div {
  background-position: -224px -56px;
}
body.inspire-up .step-5.active div, body.inspire-up .step-5.done div {
  background-position: -224px 0;
}
body.inspire-up div#content-wrap {
  max-width: 1024px;
  margin: auto;
  padding: 20px 10px;
}
body.inspire-up span.onsale {
  background-color: #f1f000;
  color: #1e1e1e;
}
body.inspire-up h1.product_title.entry-title {
  color: #46809d;
  font-size: 2.2em;
}
body.inspire-up #header-mobile {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
  border-bottom: solid 1px #eee;
}
body.inspire-up #header-mobile a.logo {
  width: 120px;
}
body.inspire-up #header-mobile a.logo img {
  width: 100%;
}
body.inspire-up #header-mobile a {
  display: block;
}
body.inspire-up #header-mobile a span.fw-900 {
  display: none;
}
body.inspire-up #header-mobile a span.fw-300 {
  display: none;
}
body.inspire-up ul.cart_list.product_list_widget {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}
body.inspire-up a.close-reveal-modal {
  background-color: #f26122;
  color: #fff;
  text-shadow: none;
  padding: 0.618em 1em;
  cursor: pointer;
  margin: 5px;
}
body.inspire-up a.close-reveal-modal:hover {
  background-color: #1a97db;
  border: 0;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
body.inspire-up .button, body.inspire-up .button-large, body.inspire-up .button-quiet, body.inspire-up #searchsubmit {
  padding: 0.618em 1em !important;
  background: none;
  background-color: #002755 !important;
  color: #fff;
  font-size: 1em;
  font-weight: normal;
  border: none;
  border-radius: 0px;
  line-height: 1.4em;
}
body.inspire-up .button:hover, body.inspire-up .button-large:hover, body.inspire-up .button-quiet:hover, body.inspire-up #searchsubmit:hover {
  background-color: #1a97db;
  border: 0;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
body.inspire-up .woocommerce #respond input#submit, body.inspire-up .woocommerce a.button, body.inspire-up .woocommerce button.button, body.inspire-up .woocommerce input.button {
  font-size: 1.2em;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: white;
  background-color: #002755;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 10px 20px;
}
body.inspire-up .woocommerce #respond input#submit:hover, body.inspire-up .woocommerce a.button:hover, body.inspire-up .woocommerce button.button:hover, body.inspire-up .woocommerce input.button:hover {
  background-color: #1a97db;
  border: 0;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
body.inspire-up .two-column-layout {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
body.inspire-up .two-column-layout .column {
  width: 50%;
  display: block;
  align-items: center;
}
body.inspire-up .two-column-layout .column div[itemprop=offers] {
  text-align: center;
  font-weight: bold;
}
body.inspire-up .two-column-layout .column form.cart .button {
  vertical-align: middle;
  float: none;
  width: 100%;
}
body.inspire-up .two-column-layout .column form.cart div.quantity {
  width: 100px;
}
body.inspire-up .two-column-layout .column .quantity input.text {
  margin: 0px 0px 10px 0px;
  padding: 5px 0px;
  width: 100%;
  display: block;
  background-color: rgb(253, 253, 253);
  z-index: 4;
  border: 1px solid rgb(0, 39, 85);
  color: #002755;
  border-radius: 0px;
  font-size: 1.2em;
}
body.inspire-up .two-column-layout form.cart {
  margin-bottom: 2em;
  align-items: flex-start;
  display: flex;
}
body.inspire-up input.text, body.inspire-up input.title, body.inspire-up textarea {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 4;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  margin: 0px 0px 10px 0px;
  padding: 5px 0px;
  width: 100%;
  display: block;
  background-color: rgb(253, 253, 253);
  z-index: 4;
  border: 1px solid rgb(0, 39, 85);
  color: #002755;
  border-radius: 0px;
  font-size: 1.2em;
}
body.inspire-up .reveal-modal .cart_list li {
  position: relative;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}
body.inspire-up .reveal-modal .cart_list li img {
  width: 100px;
  margin-right: 10px;
  height: auto;
}
body.inspire-up .reveal-modal .cart_list li h2 {
  color: #002755;
  font-size: 1.5em;
}
body.inspire-up .reveal-modal p.buttons {
  font-size: 1;
  display: flex;
}
body.inspire-up .reveal-modal p.buttons br {
  display: none;
}
body.inspire-up ul#category-tabs-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body.inspire-up ul#category-tabs-shop li {
  width: 32%;
  border: 1px solid #f3f3f3;
  background: #fdfdfd;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 10px;
}
body.inspire-up ul#category-tabs-shop li:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
body.inspire-up ul#category-tabs-shop li a {
  display: flex;
  cursor: pointer;
}
body.inspire-up ul#category-tabs-shop li a:hover {
  text-decoration: none;
}
body.inspire-up ul#category-tabs-shop li a .category-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
}
body.inspire-up ul#category-tabs-shop li a .category-details span.count {
  font-size: 0.85em;
  font-weight: normal;
  color: #4a5153;
}
body.inspire-up form.checkout h3.event_title {
  margin: 20px 0px 10px 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: bold;
}
body.inspire-up form.checkout h3.event_title span.course_title {
  font-size: 1.2em;
  display: block;
  line-height: 2em;
}
body.inspire-up form.checkout .delivery_option_wrapper {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
}
body.inspire-up .summary.entry-summary .content ul {
  list-style-type: disc;
}
body.inspire-up div.product div.images img {
  position: relative;
}
body.inspire-up #footer-wrap {
  background-color: #002755;
}
body.inspire-up #footer-wrap .container {
  display: flex;
  max-width: 1024px;
  margin: auto;
  padding: 40px 0px;
  justify-content: space-between;
}
body.inspire-up #footer-wrap .container .org {
  font-size: 2em;
  margin-bottom: 20px;
}
body.inspire-up #footer-wrap .container #foot-contact, body.inspire-up #footer-wrap .container p {
  color: #fff;
}
body.inspire-up #footer-wrap .container #foot-nav ul {
  display: flex;
  margin: 0px;
  margin-bottom: 20px;
}
body.inspire-up #footer-wrap .container #foot-nav ul li {
  margin-right: 10px;
}
body.inspire-up .q400-tab, body.inspire-up .velg-tab {
  text-indent: -9999px;
  background: url(../images/acreditation-tabs.png) no-repeat;
  display: inline-block;
  height: 64px;
  width: 96px;
}
body.inspire-up .q400-tab {
  background-position: -308px bottom;
  width: 84px;
}
body.inspire-up .velg-tab {
  background-position: bottom right;
}

@media only screen and (max-width: 768px) {
  body.inspire-up #content-wrap {
    padding: 10px;
  }
  body.inspire-up ul.product-category li {
    width: 48%;
  }
  body.inspire-up ul.product-category li span.product-title {
    display: block;
    padding: 20px 0px;
    font-weight: bold;
  }
  body.inspire-up .custom-header-container {
    font-size: 12px;
  }
  body.inspire-up .custom-header {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  body.inspire-up .cart-details {
    flex-direction: column;
  }
  body.inspire-up .cart-details .cart-collaterals, body.inspire-up .cart-details form {
    width: 100%;
  }
  body.inspire-up .step div {
    display: none;
  }
  body.inspire-up ul#category-tabs-shop {
    margin: 0px;
  }
  body.inspire-up ul#category-tabs-shop li {
    width: 45%;
  }
  body.inspire-up ul#category-tabs-shop li a .category-details {
    font-size: 0.9em;
  }
  body.inspire-up div.product {
    flex-direction: column;
  }
  body.inspire-up div.product .side {
    width: 100%;
  }
  body.inspire-up div.product .main.summary.entry-summary {
    width: 100%;
  }
  body.inspire-up .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
  }
  body.inspire-up div.product .summary form.cart {
    position: static;
    bottom: 0px;
    margin: 0px;
    position: sticky;
    z-index: 9999;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-flow: revert;
    justify-content: center;
  }
  body.inspire-up div.product .summary form.cart .button {
    height: 35px;
  }
  body.inspire-up div.product .product_title {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  body.inspire-up .custom-header-container {
    display: none;
  }
  body.inspire-up div.page-shop {
    padding-top: 0px;
  }
  body.inspire-up #header {
    display: none;
  }
  body.inspire-up #header-mobile {
    display: flex;
  }
  body.inspire-up .images.product-thumb {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  body.inspire-up .images.product-thumb .woocommerce-main-image {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 6px;
  }
  body.inspire-up .images.product-thumb div.two-column-layout {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  body.inspire-up .images.product-thumb div.two-column-layout .column {
    width: 100%;
  }
  body.inspire-up .images.product-thumb div.two-column-layout .column p {
    margin: 0.4em 0;
  }
  body.inspire-up .images.product-thumb div.two-column-layout .column form.cart {
    text-align: center;
    margin: 0px auto;
    width: 150px;
  }
  body.inspire-up .images.product-thumb div.two-column-layout .column form.cart .quantity {
    width: 60px;
    float: none;
  }
  body.inspire-up .images.product-thumb div.two-column-layout .column form.cart .quantity input.text {
    margin: 0px;
    padding: 3px 0px;
  }
  body.inspire-up .images.product-thumb div.two-column-layout .column form.cart .button {
    vertical-align: middle;
    float: none;
    width: auto;
    font-size: 12px;
  }
  body.inspire-up .images.product-thumb div.CTA-sidebar {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 0.9em;
    background-color: rgba(55, 166, 221, 0.7294117647);
  }
  body.inspire-up .images.product-thumb div.CTA-sidebar h3 {
    text-align: center;
    font-size: 10px;
  }
  body.inspire-up h2.choose-cat-title {
    padding: 10px;
    line-height: 1.2em;
  }
  body.inspire-up #category-tabs-shop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  body.inspire-up #category-tabs-shop.clearfix:after, body.inspire-up #category-tabs-shop.clearfix:before {
    display: none;
  }
  body.inspire-up #category-tabs-shop li {
    width: 38%;
    background-color: #f9f9f9;
    margin: 0px;
    display: block;
    min-height: 70px;
    margin-bottom: 10px;
  }
  body.inspire-up #category-tabs-shop li a {
    font-size: 1.5em;
    text-decoration: none;
  }
  body.inspire-up #category-tabs-shop li a span {
    font-size: 0.8em;
  }
  body.inspire-up .post {
    line-height: 1.4em;
  }
  body.inspire-up form.checkout h1.course-title {
    margin: 20px 0px;
    text-align: center;
    color: #fc6b3e;
  }
  body.inspire-up .course-cat {
    display: none;
  }
  body.inspire-up .custom-header > div:first-child a {
    display: none;
  }
  body.inspire-up .custom-header-container {
    padding: 0px;
    margin-left: 0px;
  }
  body.inspire-up .modal-dialog {
    max-width: 720px;
    margin: auto;
  }
  body.inspire-up .modal-dialog ul#product-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body.inspire-up .modal-dialog ul#product-courses li {
    width: 47%;
  }
  body.inspire-up .modal-dialog ul#product-courses li img {
    margin-bottom: 10px;
  }
  body.inspire-up .modal-dialog ul#product-courses .summary-wrapper {
    flex-flow: column;
  }
  body.inspire-up .modal-dialog ul#product-courses .summary-wrapper .summary.entry-summary {
    width: 100%;
  }
  body.inspire-up .modal-dialog h2 {
    color: #002755;
    font-size: 1.6em;
  }
  body.inspire-up #step2 #billing_first_name_field,
body.inspire-up #step2 #billing_middle_name_field,
body.inspire-up #step2 #billing_last_name_field,
body.inspire-up #step2 #billing_work_phone_field,
body.inspire-up #step2 #billing_mobile_phone_field,
body.inspire-up #step2 #billing_work_mobile_field {
    width: 100% !important;
  }
  body.inspire-up .checkbox p, body.inspire-up form p {
    width: 100% !important;
  }
  body.inspire-up div#foot-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 98%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  body.inspire-up div#foot-contact > div, body.inspire-up div#foot-contact > a {
    display: block;
    width: 100%;
  }
  body.inspire-up #foot-nav {
    flex-wrap: wrap;
  }
  body.inspire-up #foot-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
  }
  body.inspire-up #foot-nav ul li {
    width: auto;
    padding-right: 5px;
  }
  body.inspire-up footer.footer.container {
    padding: 10px;
  }
  body.inspire-up .mobile-sticky {
    padding-top: 10px;
    margin: 0px;
    position: sticky;
    z-index: 9999;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    height: 84px;
    /* border: 1px solid #f7f6f7; */
    box-shadow: rgba(0, 0, 0, 0.08) 1px 3px 4px 1px;
    background-color: white;
  }
  body.inspire-up .mobile-sticky .user-links {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  body.inspire-up .mobile-sticky .user-links a {
    display: block;
    padding: 5px 10px;
    background-color: #00bce8;
    color: #fff;
    text-decoration: none;
  }
  body.inspire-up .mobile-sticky .user-links a:hover {
    background-color: #f26122;
    border: 0;
    transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  }
  body.inspire-up .mobile-sticky #checkout-steps {
    margin: 0px;
  }
  body.inspire-up .mobile-sticky #checkout-steps .step a {
    top: 0px;
    background-color: #fff;
    width: 100%;
    height: 42px;
    padding: 5px 0px 5px 0px;
    text-align: center;
  }
  body.inspire-up .mobile-sticky #checkout-steps .step a.selected {
    color: #fc6b3e;
  }
  body.inspire-up .mobile-sticky #checkout-steps .step a.selected span {
    color: #fc6b3e;
  }
  body.inspire-up .mobile-sticky #checkout-steps .step a span {
    padding: 0px;
    font-size: 11px;
    margin: 0px;
  }
  body.inspire-up #footer-wrap .container {
    flex-direction: column;
    padding: 40px 20px;
  }
}
@media only screen and (max-width: 450px) {
  body.inspire-up .custom-header-container {
    padding: 0px;
    margin-left: 0px;
  }
  body.inspire-up .custom-header-container {
    font-size: 12px;
    height: 30px;
  }
  body.inspire-up .custom-header a span:nth-child(2) {
    display: none;
  }
  body.inspire-up .custom-header a span:nth-child(1) {
    animation: wiggle 5s infinite;
  }
  body.inspire-up .custom-header div {
    margin-right: 5px;
  }
  body.inspire-up #login-area {
    top: 0.65rem;
  }
  body.inspire-up #login-area a {
    color: white;
    text-shadow: none;
  }
  body.inspire-up .modal-dialog ul#product-courses li {
    width: 100%;
  }
  body.inspire-up ul#category-tabs-shop li {
    width: 100%;
  }
}

/*# sourceMappingURL=up-style.css.map */
