#add_payment_method table.cart img, table.cart img, .woocommerce-checkout table.cart img {
	width: auto;
	box-shadow: none;
	max-width: 120px;
	height: auto;
}

.cart-details{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	form{
		width: 65%;
		.coupon {
			padding: 5px;
			width: 70%;
			display: inline-block;
			.input-text{
				display: inline-block;
    		width: auto;
			}
		}
		input[name=update_cart]{
			align-items: baseline;
			display: inline;
			margin-bottom: 0px;
			margin-left: auto;
		}
	}
	.cart-collaterals{
		width: 30%;
		.wc-proceed-to-checkout{
			a.checkout-button{
				margin-bottom:10px
			}
		}
	}
}
