div.product {
	display: flex;
	justify-content: space-between;
	.side {
		width: 25%;
			position: relative;
	}
	.main.summary.entry-summary {
		width: 72%;
	}
	div.images img {
		position: relative;
	}
}


.summary.entry-summary{
	.content{
		ul {
				list-style-type: disc;
		}
	}
}

span.onsale {
	background-color: #f1f000;
	color: #1e1e1e;
}

h1.product_title.entry-title {
		color: #46809d;
		font-size: 2.2em;
}

a.reset_variations {
	display: none;
}


div.product form.cart .variations {
	.value{
		font-size: 1.2em;
		padding: 0px;
	}
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;

	border: 0px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

div.product p.price, div.product span.price {
	color: #77a464;
	font-size: 16px;
	font-weight: bold;
}

.woocommerce-variation.single_variation {
	.woocommerce-variation-price{
		font-size: 16px;
		font-weight: bold;
	}

}
div.product form.cart table.variations {
	width: auto;
	td, th{
		select {
			display: inline-block;
			margin-right: 1em;
			padding: 5px;
			width: auto;
			border-radius: 0px;
		}
		padding: initial;
		label {
				margin-right: 10px;
				width: auto;
		}
	}

}
