
  @import "partials/woo_overrides";

body.inspire-up {
  @import "partials/general";
  @import "partials/header";
	@import "partials/header_mobile";
	@import "partials/footer";
  @import "partials/modal";
  @import "partials/mobile_sticky";
	@import "partials/upsell";
	@import "partials/cross_sell";
	@import "partials/product_meta";
	@import "partials/side";
	@import "page_product_all_type";
	@import "page_view_cart";
	@import "page_product_category";
  @import "page_checkout";
	@import "page_shop";

	a#shop_banner {
		display: block;
		position: relative;
		margin-bottom: 1.5em;
		img{
			width: 100%;
		}
	}
}

@import "partials/media_queries";
