
  @import "partials/woo_overrides";

body.inspire-up {
  @import "partials/misc";
  @import "partials/header";
  @import "partials/modal";
  @import "partials/checkout_form";
  @import "partials/cta_sidebar";
  @import "partials/mobile_sticky";
  @import "partials/product_category_page";
	@import "partials/upsell";
	@import "partials/cross_sell";
	@import "partials/product_meta";
	@import "partials/splide";
	@import "page_single_product";
	@import "pag_view_cart";
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}
	h2 {
    text-transform: capitalize;
    color: #46809d
	}
	.step div {
			width: 56px;
			height: 56px;
			background: url(../images/icons-process.png) 0 0 no-repeat;
			overflow: hidden;
			display: block;
			position: absolute;
			top: -28px;
			right: -3px;
			z-index: 10;
	}
	.step a {
		position: absolute;
		right: 0;
		z-index: 15;
		top: -23px;
		padding: 0 60px 0 0;
		overflow: visible;
		text-align: right;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.2em;
	}
	.step-2 div {
		background-position: -56px -56px;
	}
	.step-2.active div, .step-2.done div {
		background-position: -56px 0;
	}

	.step-3 div {
		background-position: -112px -56px;
	}
	.step-3.active div, .step-3.done div {
		background-position: -112px 0;
	}
	.step-4 div {
		background-position: -168px -56px;
	}
	.step-4.active div, .step-4.done div {
		background-position: -168px 0;
	}
	.step-5 div {
		background-position: -224px -56px;
	}
	.step-5.active div, .step-5.done div {
		background-position: -224px 0;
	}
	div#content-wrap {
			max-width: 1024px;
			margin: auto;
			padding: 20px 10px;
	}

	span.onsale {

    background-color: #f1f000;
    color: #1e1e1e;
	}
	h1.product_title.entry-title {
			color: #46809d;
			font-size: 2.2em;
	}

	#header-mobile{
		display: none;

    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
		border-bottom: solid 1px #eee;
		a.logo{
			width: 120px;
			img {
				width: 100%;
			}
		}
		a{

			display: block;
			span.fw-900{
				display: none;
			}
			span.fw-300{
				display: none;
			}
		}
	}
  ul.cart_list.product_list_widget {
		padding: 0px;
		margin: 0px;
		display: flex;
    flex-wrap: wrap;
	}

  a.close-reveal-modal {
    background-color: #f26122;
    color: #fff;
    text-shadow: none;
    padding: 0.618em 1em;
    cursor: pointer;
    margin: 5px;
    &:hover{
      background-color: #1a97db;
      border: 0;
      text-decoration: none;
      transition: background-color .3s ease,color .3s ease,-webkit-transform .3s ease;
      transition: background-color .3s ease,transform .3s ease,color .3s ease;
      transition: background-color .3s ease,transform .3s ease,color .3s ease,-webkit-transform .3s ease;
    }
  }
  .button, .button-large, .button-quiet, #searchsubmit{
    padding: 0.618em 1em !important;
    background: none;
    background-color: #002755 !important;
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    border: none;
    border-radius: 0px;
    line-height: 1.4em;
    &:hover{
      background-color: #1a97db;
      border: 0;
      text-decoration: none;
      transition: background-color .3s ease,color .3s ease,-webkit-transform .3s ease;
      transition: background-color .3s ease,transform .3s ease,color .3s ease;
      transition: background-color .3s ease,transform .3s ease,color .3s ease,-webkit-transform .3s ease;
    }
  }
  .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    font-size: 1.2em;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0.618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #ffff;
    background-color: #002755;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 10px 20px;
    &:hover{
      background-color: #1a97db;
      border: 0;
      transition: background-color .3s ease,color .3s ease,-webkit-transform .3s ease;
      transition: background-color .3s ease,transform .3s ease,color .3s ease;
      transition: background-color .3s ease,transform .3s ease,color .3s ease,-webkit-transform .3s ease;
    }
  }
  .two-column-layout {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    .column {
      width: 50%;
      display: block;
      align-items: center;
      div[itemprop='offers']{
        text-align: center;
        font-weight: bold;
      }
      form.cart .button {
        vertical-align: middle;
        float: none;
        width: 100%;
      }
      form.cart div.quantity {
          width: 100px;
      }
      .quantity input.text {
        margin: 0px 0px 10px 0px;
        padding: 5px 0px;
        width: 100%;
        display: block;
        background-color: rgb(253 253 253);
        z-index: 4;
        border: 1px solid rgb(0 39 85);
        color: #002755;
        border-radius: 0px;
        font-size: 1.2em;
      }
    }
    form.cart {
      margin-bottom: 2em;
      align-items: flex-start;
      display: flex;
    }
  }

  input.text, input.title, textarea {
      background-color: rgba(0,0,0,.1);
      z-index: 4;
      border: 1px solid rgba(255,255,255,0.3);
      color: #fff;
      margin: 0px 0px 10px 0px;
      padding: 5px 0px;
      width: 100%;
      display: block;
      background-color: rgb(253, 253, 253);
      z-index: 4;
      border: 1px solid rgb(0, 39, 85);
      color: #002755;
      border-radius: 0px;
      font-size: 1.2em;
  }

  .reveal-modal {
    .cart_list li {
      position: relative;
      background-color: #f7f7f7;
      margin-bottom: 20px;
      display: flex;
			width: 100%;
			img{
				width: 100px;
				margin-right: 10px;
				height: auto;
			}
      h2 {
        color: #002755;
        font-size: 1.5em;
      }

    }
    p.buttons {
        font-size: 1;
        display: flex;
      br{
        display: none;
      }
    }
  }
  ul#category-tabs-shop {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li{
			width: 32%;
			border: 1px solid #f3f3f3;
			background: #fdfdfd;
			box-shadow: 0px 0px 0px  rgba(0,0,0,0.15);
			transition: box-shadow 0.3s ease-in-out;
			margin-bottom: 10px;
			&:hover{
				box-shadow: 1px 1px 3px  rgba(0,0,0,0.3);
			}
			a{
				display: flex;
				cursor: pointer;
				&:hover{
					text-decoration: none;
				}
				.category-details {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					padding: 10px;
					font-size: 1.1em;
					font-weight: bold;
					span.count{
						font-size: .85em;
						font-weight: normal;
						color: #4a5153;
					}
				}
			}
		}
  }

  form.checkout h3.event_title {
    margin: 20px 0px 10px 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: bold;
		span.course_title {
			font-size: 1.2em;
			display: block;
			line-height: 2em;

		}
	}
	form.checkout .delivery_option_wrapper {
		background-color: #f4f4f4;
		padding: 10px;
		margin-bottom: 10px;
	}
	.summary.entry-summary{
		.content{
			ul {
					list-style-type: disc;
			}
		}

	}
	div.product div.images img {
    position: relative;
	}

	#footer-wrap{
		background-color: #002755;
		.container {
				display: flex;
				max-width: 1024px;
				margin: auto;
				padding: 40px 0px;
				justify-content: space-between;
				.org{
					font-size: 2em;
					margin-bottom: 20px;
				}
				#foot-contact,p{
					color: #fff;
				}
				#foot-nav{
					ul{
						display: flex;
						margin: 0px;
						margin-bottom: 20px;
						li {
							margin-right: 10px;
						}
					}
				}
		}
	}
	.q400-tab, .velg-tab {
		text-indent: -9999px;
    background: url(../images/acreditation-tabs.png) no-repeat;
    display: inline-block;
    height: 64px;
    width: 96px;
	}
	.q400-tab {
		background-position: -308px bottom;
    width: 84px;
	}
	.velg-tab {
		background-position: bottom right
	}

}

@import "partials/media_queries";
